/* Used to prevent design from messing up upon minimize */
html, body {
  overflow-x: hidden;
}

body {
  min-width: 1300px;
  margin: 0px;
}



/* Navigation Section */
.top-navigation {
	background-color: #ffffff;
	border-top: 5px solid brown;
	border-bottom: 2px solid black;
	position: fixed;
	width: 100%;
	/*positions the navigation bar at the top of the webpage*/
	top: 0;
	z-index: 9999;

}

.top-navigation > .content {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: auto;    
    margin-left: auto;    
    width: 93%;    
    max-width: 100%;    
    min-width: 1000px

}

.top-navigation .logo {
  	float: left;
}

.top-navigation .links {
  	float: right;
    font-family:  sans-serif;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    margin-top: 25px;   
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 70px;
}

/* add effects when cursor hovers over links */
.top-navigation .links .active {
    color: #000000;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: brown;
}

/* add background image */
/*.title {
    background-color: #808080;
    background-image: url('../image/jsquare22.jpg');
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100vh;
}*/

/* add background image with animation slider */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
30% { left: -100%; }
45% { left: -100%; }
60% { left: -100%; }
70% { left: -200%; }
95% { left: -200%; }
100% { left: -200%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  height:30rem;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 25s slidy infinite; 
}


/*add layer over background image*/
.introduction .layer {
    background-color: #777;
    position: absolute;
    transform: translate(0%, -150%);
    margin-left:1px;
    width: 32rem;
    height: 12rem;
    opacity: 0.8;
    z-index: 9997;
}

.introduction  h1 {
	color: white;
	font-family:  serif;
	letter-spacing: -0.03em;
    font-size: 2.75rem;
	font-weight: bold;
	transform: translate(7%, 0%);
	z-index: 9998;
}

/* about section */
.about {
    height: 40rem;
    background-color: #457371;
    text-align:center;
}


.about .description_head h1  {
    font-family: serif;
    color:  #fff;
    letter-spacing: -0.03em;
    font-size: 2.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    padding-top: 9rem;
    margin-bottom: 0px;
}

.about .description_head h2  {
    color: #D2B48C;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 0rem;
}

.about .description_head p  {
    font-family: sans-serif;
    color:  #fff;
    font-size: 16px;
    text-align: left;
    letter-spacing: +0.05em;
    margin-top: 0;
    padding-top: 0px;
    margin-right: 140px;
    margin-left: 140px;
}

/* investments section */

.investments {
	height: 67rem;
    background-color: #fff;
    padding-bottom: 5rem;
}

.investments .content {
    color: #1d1e21;
    text-align: center;
}

.investments .properties > li {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}

.investments h1 {
    font-size: 2.75rem;
    margin: 0 auto;
    font-weight: 300;
    color: #1d1e21;
    text-align: center;
    padding-top: 9rem;
}

.investments h2  {
    color: #D2B48C;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 2rem;
}

.investments .properties h3 {
    font-weight: 300;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.investments .inside > li {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}
.investments .inside h3 {
    font-weight: 300;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

/* criteria section */
.criteria {
    height: 67.8rem;
    background-color: gray;
    margin: 0 auto;
}


.criteria .description_head h1  {
    font-family: serif;
    color:  white;
    letter-spacing: -0.03em;
    font-size: 2.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    padding-top: 9rem;
    margin-bottom: 0px;
}

.criteria .description_head h2  {
    color: brown;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 2rem;
}

.criteria .description_head p  {
    font-family: sans-serif;
    color:  white;
    font-size: 16px;
    text-align: left;
    letter-spacing: +0.05em;
    margin-top: 5px;
    margin-right: 140px;
    margin-left: 140px;

}

.criteria .properties {
    margin-top: 3rem;
    height:20rem;
    background-image: url('../image/various.jpg');
    background-size: cover;
}

.careers {
    height: 50rem;
    background-color: white;
    text-align:center;
    margin-top: 0;
}


.careers .description_head h1  {
    font-family: serif;
    color:  black;
    letter-spacing: -0.03em;
    font-size: 2.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    padding-top: 9rem;
    margin-bottom: 0px;
}

.careers .description_head h2  {
    color: brown;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 2rem;
}

.careers .description_head p  {
    font-family: sans-serif;
    color:  black;
    font-size: 16px;
    text-align: left;
    letter-spacing: +0.05em;
    margin-top: 5px;
    margin-right: 140px;
    margin-left: 140px;
}

/*contact us section*/
.contact { 
  background-color: #457371;
  height: 24rem;
}

.contact h1 {
  margin-top: 0;
  margin-left: 3rem;
  padding-top: 2rem;
  font-family: serif;
  color: white;
  letter-spacing: -0.03em;
  font-weight: 300;
  font-size: 45px;
}

.contact h2 {
  margin-left: 3rem;
  margin-bottom: 0rem;
  font-family: sans-serif;
  color: white;
  letter-spacing: -0.01em;
  font-size: 15px;
  font-weight:100;
}

.contact p {
  margin-left: 3rem;
  font-family: sans-serif;
  color: white;
  letter-spacing: -0.01em;
  font-size: 12px;
}

.contact .map {
    float: right;
    transform: translate(-20%, 5%);
}

.contact .footlogo{
    float: left;
}


